$corDeFundo: #040714;
$corDeTextoPrincipal: silver;
$corDetextoSecundario: #f9f9f9;
$corBotaoPrimario: #6421ff;
$corBotaoSecundario: #0063e5;
$corBotaoDark: rgba(0,0,0,0.8);
$corBotaoDarkHover: rgba(255,255,255,0.8)