@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'sass:color';
@use 'avaible-devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: "Avenir";
    src: url(../../src/fontes/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url(../../src/fontes/Avenir-Bold.woff2);
    font-weight: 700;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corDeTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corDetextoSecundario;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir", sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
}

.text--big {
    @include text(18px);
}

.text {
    @include text();
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title();
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corDetextoSecundario;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corDetextoSecundario;
    background-color: variaveis.$corBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    transition: ease 0.5s;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corBotaoPrimario;

    &:hover {
        background-color: color.scale(variaveis.$corBotaoPrimario, $lightness: -25%);
    }

    &--secundary {
        background-color: variaveis.$corBotaoSecundario;
        border-color: variaveis.$corBotaoSecundario;

        &:hover {
            background-color: color.scale(variaveis.$corBotaoSecundario, $lightness: -25%);
        }
    }

    &--dark {
        background-color: variaveis.$corBotaoDark;
        border-color: variaveis.$corBotaoDarkHover;

        &:hover {
            background-color: variaveis.$corBotaoDarkHover;
            color: variaveis.$corDeFundo;
        }
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;


    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;
        
        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;

        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}